@font-face {
	font-family: "RFRufo-Light";
	src: url("shared/assets/fonts/RFRufo-Light.ttf");
}

@font-face {
	font-family: "RFRufo-Regular";
	src: url("shared/assets/fonts/RFRufo-Regular.ttf");
}

@font-face {
	font-family: "RFRufo-Bold";
	src: url("shared/assets/fonts/RFRufo-Bold.ttf");
}

@font-face {
	font-family: "Avatar-Regular";
	src: url("shared/assets/fonts/AvatarRegular.ttf");
}