.content {
	display: flex;
	align-items: center;
	gap: 0 10px;
	min-width: 80px;
}

.likes {
	font-size: 18px;
	color: #d7aa22;
}

.star {
	transform: scale(0.8);
}

.star_active {
	transform: scale(0.8);
	stroke: #41c62f;
}